@media (min-width:400px){
    html body{
        background-color: rgb(40, 60, 80);
    }
}
@media (max-width:800px){
    html body h1{
        text-align: center;
    }
}
@media (orientation:landscape){
    body article{
        max-width: 50ch;
    }
}
@media ( min-height: 200px ){
    html body h1 {
        background-color:orange ;
    }
}
@media print{
    body p {
        font-family: serif;
    }
}
@media (prefers-color-scheme: light) {
    
    html body h1 {
        color:#111;
        background-color: #DDD;
    }
}
@media(hover: hover) {
 
       body a {
        background-color: #212;
        padding-top: 2px 5px;
       } 
    
  }
@media (min-width:800px){
    @media (max-width:900px){
    body img{
        visibility: hidden;
    }
    }
}
@media (min-width:200px){
    @media (max-width:400px){
    body img{
        width: 400px;
        object-fit: cover;
    }
    }
}
